@using WebApplication2.Models;
@model List<SiparisListe>
@{
    ViewBag.Title = "Siparişler";
}

<section class="sample-text-area">
    <div class="container box_1170">
        <br>
        <h3 class="text-heading">Siparişler</h3>
        <p class="sample-text">
            <div class="section-top-border">
                <h3 class="mb-30">Gelen Siparişler:</h3>
                <br>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="visit">Restoran Adı</div>
                            <div class="visit">Ürün Adı</div>
                            <div class="visit">Fiyat</div>
                            <div class="visit">Teslimat Adresi</div>
                        </div>
                        @foreach (var item in Model)
                        {
                            if (item.YetkiliID == WebApplication2.Security.UserID.idBul(User.Identity.Name) && item.Tamamlandi == 1)
                            {
                                <div class="table-row">
                                    <div class="visit"><a href="/Restoran/Detay/@item.RestoranKodu" class="genric-btn primary-border radius e-large">@item.RestoranAdi</a></div>
                                    <div class="visit">@item.UrunAdi</div>
                                    <div class="visit">@item.ToplamTutar</div>
                                    <div class="visit">@WebApplication2.Security.UserID.adresBul(item.KullaniciID.Value)</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
    </div>
</section>

