@using WebApplication2.Models;
@{
    ViewBag.Title = "Index";
}

<head>
    @if (User.IsInRole("M") || User.IsInRole("R"))
    {
        <meta http-equiv="refresh" content="0; url=/Profile/Index" />
        <meta />
    }
</head>

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <br>
                    <br>
                    <br>
                    <h3 class="mb-30"><u>Şehir Seçiniz</u></h3>
                    <form method="post" action="/Register/Index2/">
                        <div class="default-select">
                            <select name="SehirKodu">
                                @foreach (Sehir s in ViewBag.slist)
                                {
                                    <option value="@s.PlakaKodu">@s.Ad</option>
                                }

                            </select>
                        </div>
                        <br>
                        <button type="submit" class="genric-btn primary radius">Devam Et</button>
                        <br>
                        <br>
                        <a href="/Login/Index" class="genric-btn primary-border small">Zaten hesabınız varsa giriş yapmak için buraya tıklayın.</a>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

